@font-face {
  font-family: 'Qatar2022';
  src: local('Qatar2022'), url(./assets/fonts/Qatar2022-Bold.otf) format('truetype');
}
@font-face {
  font-family: 'Qatar2022-Arabic-Medium';
  src: local('Qatar2022-Arabic-Medium'), url(./assets/fonts/Qatar2022Arabic-Medium.otf) format('truetype');
}
@font-face {
  font-family: 'Qatar2022-Heavy';
  src: local('Qatar2022-Heavy'), url(./assets/fonts/Qatar2022-Heavy.otf) format('truetype');
}
.login{
  min-height: 100vh;
  background-color: #eeeee5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Qatar2022;

}
.img-logo-login{
  width: 30%;
}
.login h1{
  font-family: Qatar2022-Heavy;
  color: #550065;
  font-size: 2rem;
}
.form-login{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App{
  min-height: 100vh;
  /* background-color: #8b1638; */
  background-color: #020f2a;
  min-width: 320px;
  
  font-family: Qatar2022;
}
.content-header{
  background: #8b1638;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.img-logo{
  position: absolute;
  top: 0;
  width: 200px;
}
.container-podium-rank{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container-podium{
  background: url(./assets/podium.png) no-repeat bottom left;
  background-size: 100%;
  width: 40%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: 2%;
}
.container-fifa-rank{
 width: 50%;
 margin: auto;
 display: flex;
 flex-direction: column;
}
.container-fifa-rank .ant-table {
  background: transparent !important;
}
.container-fifa-rank .ant-table-thead > tr > th {
  background: transparent !important;
}
.container-fifa-rank .ant-table-tbody > tr > td {
  border-bottom: none !important;
}

.container-fifa-rank .ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: #7d1030 !important;
}
.container-fifa-rank a {
  color: white;
  font-size: 20px;
}
.fifa-logo{
  margin: auto;
}
.matches{
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.podium{
  width: 18%;
  height: 75%;
  color: #fff0a7;
  font-weight: 900;
  font-size: 30px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
}
.podium:nth-child(1) , .podium:nth-child(3) {
  height: 60%;
}
.selectPodium{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-match{
  position: relative;
  color: #81163b;
  width: 20%;
  min-width: 297px;
  min-height: 297px;
  margin: 0 2%;
}
.content-match{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.teams{
  background-color: #eeeee4;
  border-radius: .625rem;
  display: flex;
  align-content: center;
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
  justify-content: space-between;
}
.teams .ant-input-number{
  margin: auto !important;
}
.container-list-all-matches .ant-table{
  background: transparent !important;
  color: white;
}
.container-list-all-matches .ant-table-thead > tr > th {
  background: transparent !important;
}
.container-list-all-matches .ant-table-tbody > tr > td {
  border-bottom: none !important;
}
.ant-table-thead > tr > th{
  color: white;
}
.tabs-group .ant-tabs-tab {
  color: rgba(255, 255, 255, 0.85) !important;
  font-size: 23px;
}
.ant-modal-content{
  font-family: Qatar2022 !important;
}
.ant-modal-content .modal-my-result{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.in-develop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.in-develop h1{
  color: white;
}
.in-develop img{
  width: 480px;
}
@media (max-width:650px) {
  .login {
    justify-content: center;
  }
  .form-login {
    width: 90%;
  }
    .img-logo-login {
  width: 80%;
  }
  .container-fifa-rank{
    width: 100%;
  }
  .img-logo{
    display: none;
  }
  
}

@media (max-width:850px) {
  .container-podium{
    height: 230px;
    width: 100%;
  }
}
